* {
    box-sizing: border-box;
}

body {
    background: #212121;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 600px;
}

.square {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background: #212121;
    box-shadow: inset 2px 2px 3px #121212, inset -2px 2px 3px #303030;
    margin: 2px;
    transition: 4.5s ease-in-out;
}

.square:hover {
    transition-duration: 0s;
    /* color: #772222 #772260 #4d2277 #222777 #226277 #22773b #1a5d2e #4ae879 #91c905 #d1e21b #b9ad00; */
}

